<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="6">
    <listeners>
        <listener class-name="Analyze.Annotation_transformer"></listener>
    </listeners>
    <test verbose="10" name="functional testing" >
<!--     <parameter name="browser" value="EDGE"/>-->
<!--        -->
<!--    <groups>-->
<!--        <run>-->
<!--            <include name=""-->
<!--        </run>-->
<!--    </groups>-->
    <classes>
      <class name="com.DropDown.Dropdown">
      </class>
    </classes>
</test>
</suite>